
<div class="d-flex flex-row">
    <div class="display" style="width: 160px;">
        <strong>Max Idle:</strong> @(maxIdleHours)hrs
    </div>
    <div class="control center-vert" style="flex-grow: 1;">
        <input type="range" min="1" max="72" step="1" value="@maxIdleHours" @onchange="OnMaxIdleChanged" style="width: 100%;" />
    </div>
</div>


@code {

    private int maxIdleHours { 
        get {
            return (int)Math.Round(MaxIdle.TotalHours);
        }
        set {
            MaxIdle = TimeSpan.FromHours(value);
        }
    }

    [Parameter]
    public TimeSpan MaxIdle { get; set; }

    [Parameter]
    public EventCallback<TimeSpan> MaxIdleChanged { get; set; }

    private Task OnMaxIdleChanged(ChangeEventArgs e)
    {
        maxIdleHours = int.Parse(e.Value.ToString());

        return MaxIdleChanged.InvokeAsync(MaxIdle);
    }
}
