@using BlazorDemo.Models

<div class="session-container mb-4">
    <div class="session-header">
        <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Session Name" data-lpignore="true" />
            <button class="btn btn-outline-primary" type="button" @onclick="ToggleSessionContent" style="margin-left: 6px;width: 42px;">
                @if (collapsed)
                {
                    <span class="oi oi-chevron-right" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                }
            </button>
        </div>
    </div>
    @if (!collapsed)
    {
        <div class="session-photos d-flex flex-wrap" style="margin: 4px;">
            @foreach (var photo in session.Photos)
            {
            <div style="width: 18rem; padding: 4px;">
                <PhotoDisplay Photo="@photo" />
            </div>
            }
        </div>
    }
</div>



@code {
    [Parameter]
    public Session session { get; set; }

    bool collapsed = false;

    void ToggleSessionContent()
    {
        collapsed = !collapsed;
    }
}